<div class="container">
	<div class="row">
		<section>
			<div class="container">
				<div class="row align-items-center" style="margin-top: 100px;">
					<h2 class="display-4">Instruções</h2>
				</div>
				<div class="row">
					<p style="color: black;">
						Cada instrução é composta por uma sequencia de entradas especifica.
						As instruções estão divididas em aritimeticas e de operações externas e interna: LOAD, STO, ADD,
						SUB, DIV, MULT.
					</p>
						<p style="color: black;">Cada uma das instruções são executadas em passos bem definidos de modo que o sistema mostre cada funcionalidade aplicada em tempo real para que aluno/professor possa tanto poder explicar de forma intuitiva quando aprender de maneira simples.</p>
						<p style="color: black;">Ao fim da execução das instruções inseridas é necessario que o botão <b>reset memory</b> seja clicado para que uma nova sequência de instruções seja executada.</p>
					<div class="container">
						<div class="row">
							<h3 class="display-4">Syntax</h3>
						</div>
						<div class="row">
							<p style="color: black;">
								ADD{<b>A(operando1)</b>}{<b>B(operando2)</b>}{<b>C(Resultado)</b>}<br>
								<b>A</b>:
								Será atribuido o registrador ao qual o dado está armazenado.<br>
								<b>B</b>:
								Será atribuido o segundo registrador ao qual o dado está armazenado. <br>
								<b>C</b>:
								O registrador ao qual será armazenado o resultado da operação <br>
							</p>
						</div>
						<div class="row">
							<p style="color: black;">
								LOAD{<b>A(Enderco)</b>}{<b>B(Registrador)</b>}<br>
								<b>A</b>:
								Será atribuido o endereco ao qual o dado está armazenado.<br>
								<b>B</b>:
								Será atribuido o registrador ao qual o dado será armazenado. <br>
							</p>
						</div>
					</div>
					<p style="color: black;">A sintaxy é a mesma para todas as operações aritimeticas disponiveis e também operações como o <b>LOAD</b> e <b>STO</b>. Assim essas duas são representações de um total de instruções apresentadas no começo.</p>
					<div style="width: 100%; background-color: black; height: 1px; opacity: .2; margin-top: 10px;"></div>
				</div>
			</div>
		</section>
	</div>
</div>
