@{
    ViewData["Title"] = "Home Page";
}
<header class="text-white bg-new-image" style="height: 50em; text-align: left" id="header">
    <div class="masthead-content" style="text-align: center; z-index: 1; padding-top: 25em;">
        <div class="container">
            <h1 class="masthead-heading mb-0">BitSimulator</h1>
            <h2 class="masthead-subheading mb-0">
                Simulador da arquitetura de Vonn Neumann
            </h2>
            <a class="btn btn-primary btn-xl rounded-pill mt-5" role="button" asp-action="IndexWindow"
                asp-controller="BitSimulator">Iniciar
                Simulador</a>
        </div>
    </div>
</header>
<section>
    <div class="container">
        <div class="row align-items-center">
            <div>
                <img class="rounded-circle" style="float: right; width:340px; margin: 25px;" src="~/image/vonn.jpg" />
                <h2 class="display-4">Vonn Neumann...</h2>
                <p style="color: black; font-size: 0.9em;">
                    John Von Neumann foi um matemático húngaro de origem judaica, que foi naturalizado americano nos
                    anos 30 do século XX. Nasceu em 28 de dezembro de 1903. Desenvolveu contribuições importantes em
                    Mecânica Quântica, Teoria dos conjuntos, Ciência da Computação, Economia, Teoria dos Jogos e
                    praticamente todas as áreas da Matemática. Faleceu no dia 8 de Fevereiro de 1957, vítima de um
                    tumor no cérebro. Foi também professor na Universidade de Princeton e um dos construtores do
                    ENIAC (o primeiro computador eletrônico).
                    Von Neumann foi o mais velho das três crianças da família e nasceu com o nome de Neumann János
                    Lajos Margittai em Budapeste. Era filho de Neumann Miksa (Max Neumann), um advogado que
                    trabalhava em um banco, e Kann Margit (Margaret Kann). Com apenas 3 anos de idade já conseguia
                    decorar a maior parte dos números de telefones de quase todos membros da sua família e com 6
                    contava piadas em grego ao pai.
                    John Von Neumann é conhecido principalmente por ter formalizado o projeto lógico de um
                    computador. Em sua proposta, sugeriu que as instruções fossem armazenadas na memória do
                    computador. Até então elas eram lidas de cartões perfurados e executadas, uma a uma.
                    Armazená-las na memória, para então executá-las, tornaria o computador mais rápido, já que, no
                    momento da execução, as instruções seriam obtidas com rapidez eletrônica. A maioria dos
                    computadores de hoje em dia segue ainda o modelo proposto por Von Neumann.
                </p>
            </div>
        </div>
    </div>
</section>
<hr width="65%" style="margin-left: 100px;">
<section>
    <div class=" container ">
        <div class=" row align-items-center">
            <div>
                <img class="rounded-lg border-0 img-fluid" style="float: left; width:450px; margin: 25px;"
                    src="~/image/arquiteturaVonn.png" />
                <h2 class="display-4" style="font-size: 2.4em;">Arquitetura de Vonn Neumann <br>
                </h2>
                <p style="color: black; font-size: 0.9em;">
                    A Arquitetura de von Neumann (de John von Neumann, pronunciado Nóimánn) é uma arquitetura de
                    computador que se caracteriza pela possibilidade de uma máquina digital armazenar seus
                    programas
                    no mesmo espaço de memória que os dados, podendo assim manipular tais programas. Esta
                    arquitetura é um projeto modelo de um computador digital de programa armazenado que utiliza
                    uma
                    unidade de processamento (CPU) e uma de armazenamento ("memória") para comportar,
                    respectivamente, instruções e dados.
                    Todos os elementos dessa arquitetura são alinhados da estrutura hardware do CPU, assim o
                    sistema
                    pode realizar todas as suas atividades sem apresentar erros no desempenho. Von Neumann é
                    continuamente influenciado pela evolução tecnológica, tendo peças mais modernas inseridas.
                    Cada
                    um dos elementos apresentados é realizado à custa de componentes físicos independentes, cuja
                    implementação tem variado ao longo do tempo, consoante a evolução das tecnologias de
                    fabricação,
                    desde os relés electromagnéticos, os tubos de vácuo (ou válvulas), até aos semicondutores,
                    abrangendo os transistores e os circuitos eletrônicos integrados, com média, alta ou muito
                    alta
                    densidade de integração (MSI - medium scale, LSI - large scale, ou VLSI - very large scale
                    integration), medida em termos de milhões transistores por pastilha de silício.
                </p>
            </div>

        </div>
    </div>
</section>
<hr width="85%" style="margin-left: 100px;">
<section>
    <div class="container">
        <div class="row align-items-center">
            <div>
                <h2 class="display-4">Sistema </h2>
                <p style="color: black">
                    O sistema é totalmente web, simples, rápido e prático, com
                    funcionalidades especificas e bastante intuitivas com o objetivo
                    de fazer com que o usuario tenha um bom entendimento sobre a
                    arquitetura desfrutanto de um sistema simples.
                </p>
                <img width="100%" src="~/image/2020-10-22.png" />
            </div>
        </div>
    </div>
</section>
